section {
    background-color: rgb(216, 216, 216);
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
}
main {
    max-width: 400px;
    margin: auto;
}
body {
    background-image: url(img/img\ trabalho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}